<html>
    <head></head>
    <body>
        <h1>Listado de tareas completadas</h1>
        <br>
        {% for tareas in tareas_mostrar %}
        <div>
            <h2>Titulo: {{ tareas.titulo }}</h2>
            <h2>Descripcion: {{ tareas.descripcion }}</h2>
            <h2>Prioridad: {{ tareas.prioridad }}</h2>
            <h2>Estado de la tarea: {{ tareas.estado }}</h2>
            <h2>Completada:  {{ tareas.completada }}</h2>
            <h2>Fecha de creacion: {{ tareas.fechaCreacion }}</h2>
            <h2>Hora de vencimiento: {{ tareas.horaVencimiento }}</h2>
            <h2>Creador: {{ tareas.creador}}</h2>
            <h2>Usuarios asignados: {{ tareas.usuariosAsignados}}</h2>
            <br>
        {% endfor %}
        </div>
    </body>
</html>