<html>
    <head></head>
    <body>
        <h1>Django Girls</h1>

            <div>
                <h2>Nombre: {{libro_mostrar.nombre}}</h2>
                <p>Biblioteca: {{libro_mostrar.biblioteca.nombre}}</p>
                <h2>Autores</h2>
                <ul>
                    {%for autor in libro_mostrar.autores.all%}
                        <li>{{autor.nombre}}</li>
                    {%endfor%}
                </ul>
                <h3>Idioma: {{ libro_mostrar.get_idioma_display}} </h3>
                <p>Descripcion: {{ libro_mostrar.descripcion }}<p>
                <br>
            </div>
    </body>
</html>