<html>
    <head></head>
    <body>
        <h1>Listado de URLS</h1>
        <br>
        <ul>
            <li><a href="{% url 'lista_proyectos' %}">Proyectos</a></li>
            <li><a href="{% url 'lista_tareas' 1 %}">Tareas que esten en proyectos</a></li>
            <li><a href="{% url 'asignacionDeTarea' 1 %}">Usuarios con tareas</a></li>
            <li><a href="{% url 'tareaConObervacion' 'now' %}">Tareas con observaciones</a></li>
            <li><a href="{% url 'tareasCompletadaEntreAños' 2001 2003 %}">Tareas completadas entre dos años</a></li>
        </ul>
    </body>
</html>